
body, html {
  color: white !important;
}

.icon-list a {
  font-size: 30px;
  color: white;
}

h1 {
  padding-top: 20px;
  padding-left: 40px;
}

.brand-footer {
  padding-top: 20px;
  height: 75px;
}

footer {
  height: 125px;
  background-color: black;
}

footer p, a {
  color: lightgrey !important;
}

footer a:hover {
  color: white !important;
}

footer i {
  color: white;
  font-size: 36px !important;
}
