
.branding {
  height: 45px;
}

#topNav a {
  color: white !important;;
}

#topNav a:visited {
  color: white !important;;
}

#topNav a.active {
  color: black !important;
  background-color: white !important;
}
